
/* 네비게이션 링크 스타일 */
.navlinkM {
    position: relative;
    padding-bottom: 0.5rem; /* 링크 하단의 패딩 */
    color: white;
    overflow: hidden; /* 글자를 넘어가는 부분 숨기기 */
}

.mamenu2-containerm {
    background-color: #DAC4FB; 
    /* color: white; */
    border-radius: 25px;
}

.mamenu2m .nav-link {
    color: black;
    font-weight: bold;
    margin: 5px 10px; 
}

.navlinkM:hover {
    color: white; /* 호버 시 노란색으로 변경 */
}



/* 하이라이트 바 기본 스타일 */
.nav-item .navlinkM::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0; /* 초기 상태에서 너비를 0으로 설정 */
    height: 3px; /* 바의 높이 */
    background-color: transparent; /* 바의 색상을 투명으로 설정 */
    transition: width 0.3s ease, background-color 0.3s ease; /* 너비와 색상 변경시의 전환 효과 */
    transform: translateX(-50%); /* 중앙 정렬을 위한 변환 */
}

.navlinkM::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* 초기 상태에서 너비를 0으로 설정 */
    height: 3px; /* 바의 높이 */
    background-color: transparent; /* 바의 색상을 투명으로 설정 */
    transition: width 0.3s ease, background-color 0.3s ease; /* 너비와 색상 변경시의 전환 효과 */
}

.navlinkM:hover::after {
    width: 100%; /* 너비를 100%로 확장하여 하이라이트 바 표시 */
    background-color: white; /* 하이라이트 바의 색상을 흰색으로 변경 */
    color: white;
}


/* .navbar-nav{
    --bs-nav-link-hover-color : white;
} */

@media (max-width: 768px) {
    .mamenu2m .nav-link {
      display: block;
      text-align: center;
      margin: 10px auto; 
    }
  }

