.smoneys{
    font-size: 1.4rem;
    padding-left: 2%;
    font-weight: normal;
}

.sdates{
    font-size: 1.4rem;
    padding-left: 2%;
    font-weight: normal;
}

.t2bs{
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding-left: 13px;
  }

  
  